[Unit]
Description=Run Cloudbeds Rates daily smoothing

[Timer]
OnCalendar=*-*-* 10:00:00
Persistent=true
RandomizedDelaySec=300
Unit=cloudbeds-rates-daily.service

[Install]
WantedBy=timers.target
